pywebview==6.2.1
pyobjc-core; sys_platform == "darwin"
pyobjc-framework-Cocoa; sys_platform == "darwin"
pyobjc-framework-Quartz; sys_platform == "darwin"
pyobjc-framework-WebKit; sys_platform == "darwin"
pyobjc-framework-Security; sys_platform == "darwin"
